<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Existing key-value pairs... -->

    <key>NSCameraUsageDescription</key>
    <string>Camera permission is required for taking photos</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Photo library permission is required to access your photos</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <key>io.flutter.embedded_views_preview</key>
    <string>YES</string>

    <!-- Existing key-value pairs... -->

    <key>GoogleMapsApiKey</key>
    <string>AIzaSyCGhgIA6avmf0LRLakXaAama2vRnBsyL_Q</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is required for this app.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Your location is required for this app.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
